# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SLURM job output files
# Add this to the root .gitignore
cluster/slurm-*.out

# VsCode coverage
.vscode

# Problem data
*.pkl